@charset "utf-8";
/* CSS Document */

/* Default size (small phones 500W x 300H) */

/* Style for body */
body {
	background-image: url(../images/Page-Back4.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/* Style for main wrapper */
#wrap {
	width: 426px;
	margin: 10vh auto;
}

.frame {
	margin: 1em 0em;
}

/* Style for image frames */
.frameimg {
	position: relative;
	height: 240px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0em 0em 20px 5px black;
}

.abs {position:absolute;}

/* Style for text frames */
.frametxt {
	background-color: rgba(170,170,170,0.8);
	margin: -1em 0em 0em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 1.5em 2em 0.5em;
	text-align: justify;
	font-size: 1em;
	line-height: 1.5em;
	box-shadow: 0em 0em 20px 5px gray;
}

.dropcap::first-letter {
	margin: 0.1em 0.1em 0.1em -0.2em;
	padding: 0;
	font-size: 4em;
	font-weight: bold;
	float: left;
	line-height: 0.5em;
}

.upper {
	text-transform: uppercase;
	text-indent: 1em;
}

p.indent {
	text-indent: 1em;
}

#f5 .frametxt {
	margin: 0em;
	border-radius: 10px;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

.signature {
	fill: none;
	stroke: #000;
	stroke-width: 1%;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

/* Small devices (portrait tablets and large phones 1000W x 600H) */
@media screen
	and (min-width: 1000px)
	and (min-height: 600px){
		#wrap {width:960px}
		.frameimg {height:540px}
		.frametxt {font-size: x-large}
}

/* Medium devices (landscape tablets, 1500W x 900H) */
@media screen
	and (min-width: 1500px)
	and (min-height: 900px){
		#wrap {width: 1366px}
		.frameimg {height: 769px}
		.frametxt {font-size: xx-large}
		#bcg2 {right:0; border: 2px solid yellow; }
}

/* Large devices (large laptops and desktops, 2000W x 1200H) */
@media screen
	and (min-width: 2000px)
	and (min-height: 1200px){
		#wrap {width: 1920px}
		.frameimg {height: 1080px}
}

